
body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
}


.sidebar {
  width: 130px;
  background-color: #2f3e34;
  color: white;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  border-right: 1px solid #1f2a21;
}


.menu-title {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  color: #a5b7a4;
  margin-top: 1rem;
  margin-bottom: 0.4rem;
  padding-left: 0.5rem;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0 0 0 0.5rem;
}

.menu-list li {
  padding: 6px 0;
  cursor: pointer;
  color: #e0f2dc;
  transition: background 0.2s ease;
}

.menu-list li:hover {
  background-color: #405e4a;
  border-radius: 3px;
  padding-left: 6px;
}



.sidebar ul.menu,
.sidebar ul.submenu {
  list-style: none;
  padding-left: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 4px 0;
  color: white;
}

.sidebar li:hover {
  text-decoration: underline;
}

.sidebar li strong {
  display: block;
  margin-top: 1rem;
  font-size: 0.95rem;
  text-transform: uppercase;
}

.sidebar.secondary {
  background-color: #3a4a3f;
  border-left: 1px solid #1f2a21;
}


.sidebar.secondary  ul.menu,
.sidebar.secondary  ul.submenu {
  list-style: none;
  padding-left: 0;
}
.sidebar.secondary  li {
  cursor: pointer;
  padding: 4px 0;
  color: white;
}


.sidebar.secondary  li:hover {
  text-decoration: underline;
}

.sidebar.secondary  li strong {
  display: block;
  margin-top: 1rem;
  font-size: 0.95rem;
  text-transform: uppercase;
}


.main-content {
  flex-grow: 1;
  padding: 2rem;
  background: #f4f7f9;
}









.type1-summary {
font-weight: bold;
margin: -0.5em -0.5em 0;
padding: 0.5em;
background-color: #366446;
color: #fff;
}

.type1-details {
font:
    16px "Open Sans",
    "Arial",
    sans-serif;
width: auto;
border: 1px solid #aaa;
border-radius: 4px;
padding: 0.5em 0.5em 0;
margin: 0.5em 0.5em 0 0.5em;
}   


.productible-box {
  background: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border-left: 4px solid #2e684e;
  border-radius: 6px;
}

.productible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.productible-header h3 {
  margin: 0;
  font-size: 1.1rem;
}

.productible-table table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

.productible-table th,
.productible-table td {
  padding: 4px 8px;
  border: 1px solid #ccc;
  text-align: center;
}
